# https://github.com/github/gitignore

.DS_Store
.idea

# composer

vendor
composer.lock

# PHP-CS-Fixer

.php_cs.cache

# python

__pycache__

# Sami

/build
/cache

*.tar

*.tar.gz

.env
.env.*
!.env.example

.phpunit.result.cache
