<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="Feature">
            <directory>tests/Docker</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <file>./src/Docker/Kernel/Support/helpers.php</file>
                <file>./src/Docker/Kernel/Facade.php</file>
                <file>./src/Docker/Kernel/ServiceProvider.php</file>
            </exclude>
        </whitelist>
    </filter>
    <groups>
        <exclude>
            <group>no-test</group>
        </exclude>
    </groups>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
